::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(50, 50, 50, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50, 50, 50, 0.6);
}

::-webkit-scrollbar-track {
    background-color: rgba(50, 50, 50, 0.1);
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(50, 50, 50, 0.2);
}

.frame-header {
    height: 50px;
    background-color: #25313E;
    position: fixed;
    top: 0;
    width: 100%;
}

.frame-header .app-brand {
    text-decoration: none;
}

.frame-header .app-logo {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 9px;
    left: 5px;
}

.frame-header .app-title {
    color: #ADBECE;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 46px;
}

.frame-header .app-title:hover {
    color: #FFF;
}

.frame-menu {
    width: 220px;
    background-color: #41586E;
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    padding-bottom: 50px;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.6s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 0 5px;
}

.frame-menu .menu-item {
    height: 44px;
    color: #FFF;
    line-height: 44px;
    padding-left: 55px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    position: relative;
}

.menu-item .menu-icon {
    position: absolute;
    padding: 0 15px;
    left: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.menu-item .menu-title a {
    color: #FFF;
    text-decoration: none;
}

.frame-menu .menu-header {
    background-color: #89CC97;
    padding: 10px 0 0 10px;
}

.menu-header .btn {
    margin-right: 18px;
    margin-bottom: 10px;
}

.frame-menu .menu-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #374B5E;
    padding: 10px 10px 8px 10px;
}

.frame-menu .menu-footer .btn {
    background-color: #2E3E4E;
    border-color: #2E3E4E;
    color: #FFF;
}

.frame-content {
    position: fixed;
    left: 220px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    transition: all 0.6s ease-in-out;
}