.input-bottom-line {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    padding: 6px 0;
}

.input-bottom-line.form-control:focus {
    box-shadow: none;
}