.padding {
    padding: 10px;
}

.padding-top {
    padding-top: 10px;
}

.margin {
    margin: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-none {
    margin: 0;
}

.text-truncate {
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}